<div>
    <h2>
        <span jhiTranslate="testMustaphaApp.pret.home.title">Prets</span>
        <button class="btn btn-primary float-right jh-create-entity create-pret" [routerLink]="['/', { outlets: { popup: ['pret-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testMustaphaApp.pret.home.createLabel">
            Create new Pret
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="prets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.typPret">Typ Pret</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.montAaccord">Mont Aaccord</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.montDebloq">Mont Debloq</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.nbrEcheance">Nbr Echeance</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.periodicite">Periodicite</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.dateMisePlace">Date Mise Place</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.datePremiereEcheance">Date Premiere Echeance</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.dateDerniereEcheance">Date Derniere Echeance</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.dateDernierDebloq">Date Dernier Debloq</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.etat">Etat</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.encours">Encours</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.userInitial">User Initial</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.userDecideur">User Decideur</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.userDebloq">User Debloq</span></th>
            <th><span jhiTranslate="testMustaphaApp.pret.client">Client</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pret of prets ;trackBy: trackId">
                <td><a [routerLink]="['../pret', pret.id ]">{{pret.id}}</a></td>
                <td>{{pret.typPret}}</td>
                <td>{{pret.montAaccord}}</td>
                <td>{{pret.montDebloq}}</td>
                <td>{{pret.nbrEcheance}}</td>
                <td>{{pret.periodicite}}</td>
                <td>{{pret.dateMisePlace | date:'mediumDate'}}</td>
                <td>{{pret.datePremiereEcheance | date:'mediumDate'}}</td>
                <td>{{pret.dateDerniereEcheance | date:'mediumDate'}}</td>
                <td>{{pret.dateDernierDebloq | date:'mediumDate'}}</td>
                <td>{{pret.etat}}</td>
                <td>{{pret.encours}}</td>
                <td>{{pret.userInitial}}</td>
                <td>{{pret.userDecideur}}</td>
                <td>{{pret.userDebloq}}</td>
                <td>
                    <div *ngIf="pret.client">
                        <a [routerLink]="['../client', pret.client?.id ]" >{{pret.client?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pret', pret.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pret/'+ pret.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pret/'+ pret.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
