
<div *ngIf="experienceCandidat">
    <h2><span jhiTranslate="testMustaphaApp.experienceCandidat.detail.title">Experience Candidat</span> {{experienceCandidat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testMustaphaApp.experienceCandidat.typeInfo">Type Info</span></dt>
        <dd>
            <span>{{experienceCandidat.typeInfo}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.experienceCandidat.titre">Titre</span></dt>
        <dd>
            <span>{{experienceCandidat.titre}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.experienceCandidat.etab">Etab</span></dt>
        <dd>
            <span>{{experienceCandidat.etab}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.experienceCandidat.adressEtab">Adress Etab</span></dt>
        <dd>
            <span>{{experienceCandidat.adressEtab}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.experienceCandidat.dateDeb">Date Deb</span></dt>
        <dd>
            <span>{{experienceCandidat.dateDeb | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.experienceCandidat.dateFin">Date Fin</span></dt>
        <dd>
            <span>{{experienceCandidat.dateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.experienceCandidat.candidat">Candidat</span></dt>
        <dd>
            <div *ngIf="experienceCandidat.candidat">
                <a [routerLink]="['/candidat', experienceCandidat.candidat?.id]">{{experienceCandidat.candidat?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'experience-candidat/'+ experienceCandidat.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
