<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjetLabel" jhiTranslate="testMustaphaApp.projet.home.createOrEditLabel">Create or edit a Projet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projet.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projet.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.intitule" for="field_intitule">Intitule</label>
            <input type="text" class="form-control" name="intitule" id="field_intitule"
                [(ngModel)]="projet.intitule" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.montEstime" for="field_montEstime">Mont Estime</label>
            <input type="number" class="form-control" name="montEstime" id="field_montEstime"
                [(ngModel)]="projet.montEstime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.montApp" for="field_montApp">Mont App</label>
            <input type="number" class="form-control" name="montApp" id="field_montApp"
                [(ngModel)]="projet.montApp" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.domaine" for="field_domaine">Domaine</label>
            <input type="text" class="form-control" name="domaine" id="field_domaine"
                [(ngModel)]="projet.domaine" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="projet.type" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="projet.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.dateCreation" for="field_dateCreation">Date Creation</label>
            <div class="input-group">
                <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" ngbDatepicker  #dateCreationDp="ngbDatepicker" [(ngModel)]="projet.dateCreation"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.etat" for="field_etat">Etat</label>
            <input type="text" class="form-control" name="etat" id="field_etat"
                [(ngModel)]="projet.etat" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.lieu" for="field_lieu">Lieu</label>
            <input type="text" class="form-control" name="lieu" id="field_lieu"
                [(ngModel)]="projet.lieu" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.projet.candidature" for="field_candidature">Candidature</label>
            <select class="form-control" id="field_candidature" name="candidature" [(ngModel)]="projet.candidature">
                <option [ngValue]="null"></option>
                <option [ngValue]="candidatureOption.id === projet.candidature?.id ? projet.candidature : candidatureOption" *ngFor="let candidatureOption of candidatures; trackBy: trackCandidatureById">{{candidatureOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
