
<div *ngIf="chapitre">
    <h2><span jhiTranslate="testMustaphaApp.chapitre.detail.title">Chapitre</span> {{chapitre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testMustaphaApp.chapitre.libChapitre">Lib Chapitre</span></dt>
        <dd>
            <span>{{chapitre.libChapitre}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.chapitre.categorieCompte">Categorie Compte</span></dt>
        <dd>
            <span>{{chapitre.categorieCompte}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chapitre/'+ chapitre.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
