<div>
    <h2>
        <span jhiTranslate="testMustaphaApp.candidat.home.title">Candidats</span>
        <button class="btn btn-primary float-right jh-create-entity create-candidat" [routerLink]="['/', { outlets: { popup: ['candidat-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testMustaphaApp.candidat.home.createLabel">
            Create new Candidat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="candidats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testMustaphaApp.candidat.nom">Nom</span></th>
            <th><span jhiTranslate="testMustaphaApp.candidat.prenom">Prenom</span></th>
            <th><span jhiTranslate="testMustaphaApp.candidat.dateNaissance">Date Naissance</span></th>
            <th><span jhiTranslate="testMustaphaApp.candidat.lieuNaissance">Lieu Naissance</span></th>
            <th><span jhiTranslate="testMustaphaApp.candidat.adresse">Adresse</span></th>
            <th><span jhiTranslate="testMustaphaApp.candidat.tel">Tel</span></th>
            <th><span jhiTranslate="testMustaphaApp.candidat.situation">Situation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidat of candidats ;trackBy: trackId">
                <td><a [routerLink]="['../candidat', candidat.id ]">{{candidat.id}}</a></td>
                <td>{{candidat.nom}}</td>
                <td>{{candidat.prenom}}</td>
                <td>{{candidat.dateNaissance | date:'mediumDate'}}</td>
                <td>{{candidat.lieuNaissance}}</td>
                <td>{{candidat.adresse}}</td>
                <td>{{candidat.tel}}</td>
                <td>{{candidat.situation}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../candidat', candidat.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidat/'+ candidat.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidat/'+ candidat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
