
<div *ngIf="candidat">
    <h2><span jhiTranslate="testMustaphaApp.candidat.detail.title">Candidat</span> {{candidat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testMustaphaApp.candidat.nom">Nom</span></dt>
        <dd>
            <span>{{candidat.nom}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidat.prenom">Prenom</span></dt>
        <dd>
            <span>{{candidat.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidat.dateNaissance">Date Naissance</span></dt>
        <dd>
            <span>{{candidat.dateNaissance | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidat.lieuNaissance">Lieu Naissance</span></dt>
        <dd>
            <span>{{candidat.lieuNaissance}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidat.adresse">Adresse</span></dt>
        <dd>
            <span>{{candidat.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidat.tel">Tel</span></dt>
        <dd>
            <span>{{candidat.tel}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidat.situation">Situation</span></dt>
        <dd>
            <span>{{candidat.situation}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candidat/'+ candidat.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
