<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandidatLabel" jhiTranslate="testMustaphaApp.candidat.home.createOrEditLabel">Create or edit a Candidat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidat.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidat.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidat.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="candidat.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidat.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="candidat.prenom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidat.dateNaissance" for="field_dateNaissance">Date Naissance</label>
            <div class="input-group">
                <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker  #dateNaissanceDp="ngbDatepicker" [(ngModel)]="candidat.dateNaissance"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidat.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
            <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                [(ngModel)]="candidat.lieuNaissance" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidat.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="candidat.adresse" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidat.tel" for="field_tel">Tel</label>
            <input type="text" class="form-control" name="tel" id="field_tel"
                [(ngModel)]="candidat.tel" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidat.situation" for="field_situation">Situation</label>
            <input type="text" class="form-control" name="situation" id="field_situation"
                [(ngModel)]="candidat.situation" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
