<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandidatureLabel" jhiTranslate="testMustaphaApp.candidature.home.createOrEditLabel">Create or edit a Candidature</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidature.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidature.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidature.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="candidature.type" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidature.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="candidature.status" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidature.session" for="field_session">Session</label>
            <select class="form-control" id="field_session" name="session" [(ngModel)]="candidature.session">
                <option [ngValue]="null"></option>
                <option [ngValue]="sessionProjetOption.id === candidature.session?.id ? candidature.session : sessionProjetOption" *ngFor="let sessionProjetOption of sessions; trackBy: trackSessionProjetById">{{sessionProjetOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testMustaphaApp.candidature.candidat" for="field_candidat">Candidat</label>
            <select class="form-control" id="field_candidat" name="candidat" [(ngModel)]="candidature.candidat" >
                <option [ngValue]="null"></option>
                <option [ngValue]="candidatOption.id === candidature.candidat?.id ? candidature.candidat : candidatOption" *ngFor="let candidatOption of candidats; trackBy: trackCandidatById">{{candidatOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
