
<div *ngIf="candidature">
    <h2><span jhiTranslate="testMustaphaApp.candidature.detail.title">Candidature</span> {{candidature.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testMustaphaApp.candidature.type">Type</span></dt>
        <dd>
            <span>{{candidature.type}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidature.status">Status</span></dt>
        <dd>
            <span>{{candidature.status}}</span>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidature.session">Session</span></dt>
        <dd>
            <div *ngIf="candidature.session">
                <a [routerLink]="['/session-projet', candidature.session?.id]">{{candidature.session?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testMustaphaApp.candidature.candidat">Candidat</span></dt>
        <dd>
            <div *ngIf="candidature.candidat">
                <a [routerLink]="['/candidat', candidature.candidat?.id]">{{candidature.candidat?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candidature/'+ candidature.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
