<div>
    <h2>
        <span jhiTranslate="testMustaphaApp.garantie.home.title">Garanties</span>
        <button class="btn btn-primary float-right jh-create-entity create-garantie" [routerLink]="['/', { outlets: { popup: ['garantie-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testMustaphaApp.garantie.home.createLabel">
            Create new Garantie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="garanties">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.typeGar">Type Gar</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.montantEvalue">Montant Evalue</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.montantAfect">Montant Afect</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.dateDepot">Date Depot</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.numDocument">Num Document</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.etat">Etat</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.dateRetrait">Date Retrait</span></th>
            <th><span jhiTranslate="testMustaphaApp.garantie.pret">Pret</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let garantie of garanties ;trackBy: trackId">
                <td><a [routerLink]="['../garantie', garantie.id ]">{{garantie.id}}</a></td>
                <td>{{garantie.typeGar}}</td>
                <td>{{garantie.montantEvalue}}</td>
                <td>{{garantie.montantAfect}}</td>
                <td>{{garantie.dateDepot | date:'mediumDate'}}</td>
                <td>{{garantie.numDocument}}</td>
                <td>{{garantie.etat}}</td>
                <td>{{garantie.dateRetrait | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="garantie.pret">
                        <a [routerLink]="['../pret', garantie.pret?.id ]" >{{garantie.pret?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../garantie', garantie.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'garantie/'+ garantie.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'garantie/'+ garantie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
